<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/setting" class="navbar-toggle">
        <span style="color: wheat" class="glyphicon glyphicon-cog"></span>
      </a>
      <a
        routerLink="/"
        class="navbar-brand"
        style="color: white;font-weight: bold"
        >Memory Card Game</a
      >
    </div>
  </div>
</nav>
