.continer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: #333533;
  flex-direction: column;
}

.inputCardContiner {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
label {
  font-size: 27px;
}
.footer {
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

button {
  width: 50%;
}
