<div class="continer">
  <img src="../../assets/images/gameSetting.gif" style="height:30%;width:90%" />
  <div class="inputCardContiner">
    <label style="color: wheat;padding-right:  10px">Number of Cards: </label>
    <div style="width: 20%; min-width:60px">
      <select class="form-control " (change)="changeNumOfCard($event)">
        <option disabled hidden value="{{ numOfCard }}">{{ numOfCard }}</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
      </select>
    </div>
  </div>
  <div class="inputCardContiner">
    <label style="color: wheat;padding-right:  10px">Set Timer:</label>
    <div style="width: 20%">
      <select class="form-control " (change)="timeChange($event)">
        <option disabled hidden value="{{ timer }}">{{ timer }} </option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-primary btn-lg" (click)="save()">
      Save
    </button>
  </div>
</div>
