img {
  margin: 0px;
  padding: 5px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15%;
}
h4 {
  font-size: 19px;
  padding-left: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}
#row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#gameData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: grey;
}

#bordContiner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

#continer {
  background: #333533;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.winStyleContiner {
  background-color: #333533;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.winStyleText {
  font-size: 25px;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin: 0px;
}
/* --------------------------  הפיחת הפיחת הקלף בסיבוב */
label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.player {
  position: relative;
  height: auto;
  width: auto;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 20;
}

.player div {
  height: auto;
  width: auto;
  background: transparent;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}
.player img {
  border-radius: 15%;
  transform: rotateY(180deg);
}

.player .back {
  background: #f30101;
  color: hsl(162, 69%, 32%);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

input {
  display: none;
}

.player.voted {
  transform: rotateY(180deg);
}
