<div id="continer" *ngIf="BordSet != undefined">
  <div id="gameData">
    <div class="row">
      <h4 style="color:#333533; font-weight: bold">
        Time:
      </h4>
      <h4 *ngIf="BordSet.timer > 5" style="color:bisque; ">
        {{ BordSet.timer }}
      </h4>
      <h4 *ngIf="BordSet.timer <= 5" style="color:red; ">
        {{ BordSet.timer }}
      </h4>
      <h4 style="color:#333533;">
        sec
      </h4>
    </div>
    <div class="row">
      <h4 style="color:#333533; font-weight: bold">
        Score:
      </h4>
      <h4 style="color:bisque ; ">
        {{ BordSet.score }}
      </h4>
      <h4 style="color:#333533;">out of {{ BordSet.numOfCard / 2 }}</h4>
    </div>
  </div>
  <div id="bordContiner">
    <div id="row">
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[0].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[0].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(0)"
            />
          </div>
        </div>
      </label>
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[1].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[1].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(1)"
            />
          </div>
        </div>
      </label>
    </div>
    <div id="row">
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[2].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[2].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(2)"
            />
          </div>
        </div>
      </label>
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[3].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[3].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(3)"
            />
          </div>
        </div>
      </label>
    </div>
    <div id="row" *ngIf="BordSet.numOfCard >= 6">
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[4].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[4].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(4)"
            />
          </div>
        </div>
      </label>
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[5].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[5].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(5)"
            />
          </div>
        </div>
      </label>
    </div>
    <div id="row" *ngIf="BordSet.numOfCard >= 8">
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[6].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[6].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(6)"
            />
          </div>
        </div>
      </label>
      <label>
        <div
          id="player"
          class="player"
          [class.voted]="BordSet.cardsList[7].back"
        >
          <div class="front">
            <img
              [src]="BordSet.cardsList[7].showCard"
              [height]="BordSet.height"
              [width]="BordSet.height"
              (click)="clickCard(7)"
            />
          </div>
        </div>
      </label>
    </div>
  </div>
  <div *ngIf="BordSet.result" class="winStyleContiner">
    <h1></h1>
    <h1 class="winStyleText">Good Job!!! You WIN!</h1>
    <button
      class="btn bt btn-primary btn-lg"
      style="z-index:2"
      (click)="restrt()"
    >
      Start New Game
    </button>
    <img
      src="../../assets/images/win.gif"
      style="position: absolute;height: 48%; top:5px ; max-width: 200px;"
    />
  </div>
  <div *ngIf="BordSet.result === false" class="winStyleContiner">
    <img
      src="../../assets/images/game-over5.gif"
      style="width:40%;position: absolute;top:40px; max-width: 200px;"
    />
    <h1 class="winStyleText">Time UP!!! Game Over</h1>
    <button
      class="btn bt btn-primary btn-lg"
      style="z-index:2"
      (click)="restrt()"
    >
      Try Again
    </button>
  </div>
  <div *ngIf="BordSet.firstLogin" class="winStyleContiner">
    <img
      src="../../assets/images/logo.png"
      style="width: 80%;position: absolute;top:60px ;max-width: 500px;"
    />
    <h1 class="winStyleText">Welcome to the big</h1>
    <h1 class="winStyleText">Memory Card Game</h1>
    <button
      class="btn bt btn-primary btn-lg"
      style="z-index:2;margin: 10px;"
      (click)="bagin()"
    >
      Start Game
    </button>
  </div>
  <footer>
    <h6 class="flex" style="color:bisque">
      Sponsored by:
      <a style="padding-left: 5px" href="https://www.walmart.com"> Walmart</a>
    </h6>
  </footer>
</div>
