<app-header></app-header>
<div *ngIf="loading == false">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<div *ngIf="loading == true">
  <div class="loding">
    <h1 style="color: wheat">{{ massge }}</h1>
  </div>
</div>
