.loding {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333533;
}
h1 {
  position: absolute;
  top: 150px;
}
